<div class="copy-right">
  @copy devin 2019
</div>
<script src="<%= publicPath %>lib/zepto.js"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/libs/weuijs/1.2.1/weui.min.js"></script>
